{% trans_default_domain 'app' %}
<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">
        {{ 'Sorry, there is no event at the moment.'|trans }}
    </h4>
    <p>
        {{ 'There is no event at the moment. You can create new events for appears.'|trans }}
    </p>
</div>